.navigate[data-v-7b1e929e]{display:flex;justify-content:flex-start;background-color:#0004;color:#00f;padding:10px;margin:0}.link[data-v-7b1e929e]{margin-right:20px}.active[data-v-7b1e929e]{color:red}
